body {
  background: radial-gradient(var(--bg-black) 15%, transparent 16%) 0 0,
    radial-gradient(var(--bg-black) 15%, transparent 16%) 8px 8px,
    radial-gradient(var(--bg-black-fog) 15%, transparent 20%) 0 1px,
    radial-gradient(var(--bg-black-fog) 15%, transparent 20%) 8px 9px;
  background-color: var(--bg-color);
  background-size: 16px 16px;
  color: var(--text);
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'H1-Test-Schrift', sans-serif;
  text-align: center;
}

header,
main,
footer {
  max-width: 80rem;
  margin: auto;
  padding: 0.5rem;
}

h2,
h3,
h4 {
  color: var(--white);
  font-family: 'Rubik', sans-serif;
}

button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: var(--orange);
  color: var(--black);
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
  &[disabled] {
    background: var(--text);
  }
  &:hover,
  &:focus {
    background-color: var(--light-red);
  }
}

a {
  color: var(--light-red);
  &:hover,
  &:focus {
    color: var(--medium-red);
  }
}

.site-wrapper {
  /*   "Sticky Footer": Sorgt dafür, dass der Footer am unteren Bildschirmrand ist,
        wenn es nicht genügend Inhalt gibt, um ihn nach unten zu drücken.
        .page ist ein div um die gesamte Seite herum. */
  display: flex;
  // column ordnet die Inhalte der Seite normal von oben nach unten an
  flex-direction: column;
  /*   Mindesthöhe des gesamten Inhalts: 100% der "viewport height", d.h.
        des Bildschirms. */
  min-height: 100vh;
}

.site-main {
  /*   Teil des Sticky Footers: Sorgt dafür, dass der "mittlere" Bereich, also der Inhalt
    anwächst, falls freier Platz zwischen Inhalt und Footer besteht.
    Eigentlich würde auch flex: 1; genügen, aber der alte Internet Explorer
    hat einen Bug... Ist heute zum Glück nicht mehr sehr relevant, aber bei
    Problemen ist hier eine Übersicht zu Bugs und möglichen Lösungen zu finden:
    https://github.com/philipwalton/flexbugs */
  flex: 1 0 auto;
}

.inner-width {
  width: 100%;
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
  _margin-left: auto;
  _margin-right: auto;
}
