@import 'components';
@import 'variables';
@import 'typographie';

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(var(--bg-black) 15%, transparent 16%) 0 0,
    radial-gradient(var(--bg-black) 15%, transparent 16%) 8px 8px,
    radial-gradient(var(--bg-black-fog) 15%, transparent 20%) 0 1px,
    radial-gradient(var(--bg-black-fog) 15%, transparent 20%) 8px 9px;
  background-color: var(--bg-color);
  background-size: 16px 16px;
  color: var(--text-color);
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'H1-Test-Schrift', sans-serif;
  text-align: center;
}

header,
main,
footer {
  max-width: 90rem;
  margin: auto;
  padding: 0.5rem;
}

h2,
h3,
h4 {
  font-family: 'Rubik', sans-serif;
}

button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: var(--button-color);
  color: var(--bg-color);
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
  &[disabled] {
    background: var(--link-color);
  }
  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

a {
  color: var(--link-color);
  transition: color 0.1s ease-out;
  &:hover,
  &:focus {
    background-color: var(--hover-color);
    color: var(--bg-color);
  }
}

.site-wrapper {
  /* "Sticky Footer": Sorgt dafür, dass der Footer am unteren Bildschirmrand ist,
     wenn es nicht genügend Inhalt gibt, um ihn nach unten zu drücken.
     .page ist ein div um die gesamte Seite herum. 
  */
  display: flex;
  /* column ordnet die Inhalte der Seite normal von oben nach unten an
  */
  flex-direction: column;

  flex: 1 0 auto;

  /* Mindesthöhe des gesamten Inhalts: 100% der "viewport height", d.h.
     des Bildschirms. 
  */
  _min-height: calc(100vh - 70px);
}

.inner-width {
  width: 90%;
  max-width: 90rem;
  padding: 0 1rem;
  margin: 0 auto;
}
