$grey: rgb(40, 40, 40);
$nearly-black: rgb(15, 15, 15);
$black-fog: rgba(255, 255, 255, 0.1);
$white: #fffffe;
$green: rgb(76, 175, 80);
$gold: gold;
$creme: rgb(255, 235, 201);
$creme-orig: rgb(200, 200, 150);

:root {
  --bg-color: #($grey);
  --bg-black: #($nearly-black);
  --bg-black-fog: #($black-fog);
  --link-color: #{$green};
  --button-color: #($creme);
  --hover-color: #{$gold};
  --text-color: #{$creme};
  --nav-color: #($black-fog);
  --input-color: #($white);
}
